/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #990033;
  border-radius: 10px;
  height: 150px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c47c04;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
@font-face {
  font-family: 'futura light bt';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/futura light bt.ttf');
}
@font-face {
  font-family: 'Felixti';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Felixti.ttf');
}
/* header */

header{
    background-color: #990033;
    text-align: center;
    margin: 0;
    line-height: 150px;
    height: 150px;
}
header ul{
 list-style: none;
    padding: 0;
    margin: 0;
}
header ul li{
  display: inline-block;
  padding: 0px 15px 0px 15px;
  font-weight: 500;
}

header .brand-logo img{
    width: 180px;
}

header ul img{
  /* padding: 0px 50px 0px 50px; */
}
header ul li a{
  color: #fff;
  font-size: 20px;/* 20px */
  font-weight: 500;
}
header ul li a:hover{
  color: #c47c04;
}
header .left-menu{
  text-align: left;
}
header .right-menu{
  text-align: right;
}
header .right-menu li img{
  padding-right: 10px;
}

header .social-links a{
    margin: 0 0 0 15px;
    padding: 0;
}

header .social-links a:first-child{
    margin: 0;
}
/* header */

/* section */
body{
  font-family: 'futura light bt';
}
.bnr{
 background-image: url('../images/banner.png');
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
align-content: center;
justify-content: center;
padding: 140px 0;
}
.bnr h1{
  /* color: #fff; */
  color: #e9d1ac;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  font-family: 'Futura';
  letter-spacing: 10px;
}
.bnr h6{
  color: #e9d1ac;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 10px;
}
.bnr p{
  color: #e9d1ac;
  font-weight: 700;
  font-size: 18px;
  font-family: 'futura light bt';
  text-align: center;
  line-height: 20px;
}
.part1 h1{
  font-size: 40px;
    line-height: 1.4;
  color:#c47c04;
  text-align: center;
  font-weight: 500;
  font-family: 'Felixti';
  padding: 80px 0px 25px 0px;
}
.part1 hr{
  width: 200px;
  border: 1px solid #c47c04;
}
.part1 p{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color:#c47c04;
}
.part2{
  padding: 50px 0px 125px 0px;
}
.part3{
  background: #fbeec8;
  padding: 75px 0px;
}
.part3 .block{
  position: relative;
  padding: 30px 15px;
  text-align: center;
  border: 1px dotted #990033;
  border-radius: 5px;
  margin: 0px 15px;
}
.part3 .offer_img{
  position: absolute;
  background-image: url('../images/offers_title.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 5%;
  top: -3.9%;
}
.part3 .offer_img h5{
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  top: 2%;
  left: 24%;
}
.part3 .offer_img h5.grill_text{
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  top: 2%;
  left: 25%;
}
.part3 h1{
  color: #990033;
  font-size: 40px;
  font-family: 'Felixti';
  text-align: center;
}
.part3 h3{
  font-size: 26px;
  color: #990033;
}
.part3 h4{
  color: #990033;
  font-weight: 700;
  font-size: 16px;
}
.part3 h5{
  font-size: 16px;
  color: #c47c04;
  font-weight: 700;
}
.part3 h6{
  font-size: 14px;
  color: #5d5d5d;
  font-weight: 700;
}
.part3 hr{
  border: 0.5px dotted #990033;
  width: 175px;
}
.part3 p{
  color: #990033;
  font-size: 24px;
  font-family: 'Felixti';
  text-align: center;
  padding-bottom: 75px;
}
.carousel-foot .owl-carousel .owl-dots.disabled, .carousel-foot .owl-carousel .owl-nav.disabled{
	display: block!important;
}
.carousel-foot .owl-prev {
    position: absolute;
    top: 40%;
    left: 0;
    background: transparent!important;
    margin: 0;
}
.carousel-foot .owl-next {
    position: absolute;
    top: 40%;
    right: 0;
    background: transparent!important;
    margin: 0;
}
.carousel-foot .owl-nav i{
	font-size: 32px;
  background: #fff;
  color: #000;
  border-radius: 100%;
  padding: 8px 15px;
  margin: 0px -25px;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}
.carousel-foot .owl-theme .owl-nav [class*=owl-]{
  margin: -30!important;
  padding: 0!important;
}
.part4{
  position: relative;
  padding: 150px 0px 100px 0px;
}
.part4 .part4-img{
  background-image: url('../images/bnr3.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
}
.part4 .box{
  position: absolute;
  top: 16%;
  left: 30%;
  background-color: #c27700;
  width: 500px;
  height: 525px;
  padding: 75px 35px;
  color: #fff;
  text-align: center;
}
.part4 .box h2{
  font-size: 40px;
  font-family: 'Felixti';
  font-weight: 500;
}
.part4 .box p{
  font-size: 20px;
  font-weight: 500;
  padding: 25px 50px;
  font-family: 'futura light bt';
}
.part4 .box a{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: 0px 15px;
  border: 1px solid #fff;
  padding: 10px 15px;
}
.part4 .box a:hover{
  background: #fff;
  color: #c27700;
  font-weight: 700;
}
.part4 .box a i{
  padding-left: 35px;
}
.part5 a{
  text-decoration: none;
  color: #c47c04;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  border:1px solid #c47c04;
}
.part5 a:hover{
  background: #c47c04;
  color: #fff;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}
.part5 p.table_link{
  padding: 50px 0px 0px 0px;
}
.part5 i{
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
}
.part5 p{
  color: #000;
  font-weight: 400;
  font-size: 16px
}
.part5 h3{
  color: #990033;
  font-size: 30px;
  font-weight: 700;
}
.part5 h5{
  font-weight: 700;
  font-size: 16px;
  color: #c47c04;
}
.part6,.part5{
  padding-top: 50px;
  padding-bottom: 50px;
}
.part6 h5{
  font-size: 18px;
  color: #990033;
  font-weight: 700;
}
.part6 p{
  font-size: 24px;
  font-weight: 700;
  color: #c47c04;
}
.part6 h6{
  font-size: 16px;
  font-weight: 700;
  color: #c47c04;
}
/* book a table */
.book-table h1,.contact-us h1{
  color: #990033;
  font-family: 'Felixti';
  font-size: 120px;
  text-align: center;
  padding: 50px 0;
}
.book-table p,.contact-us p{
  color: #c47c04;
  font-size: 24px;
  font-family: 'futura light bt';
}
.book-table form{
  padding: 15px 0 75px 0;
}
.book-table input[type='text'],.book-table input[type='number'],.contact-us input[type='text'],.contact-us textarea{
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 20px 0;
  padding-left: 0;
}
.book-table input[type='text']:focus,.book-table input[type='number']:focus,.contact-us input[type='text']:focus,.contact-us textarea:focus{
  box-shadow: none;
  border-bottom: 1px solid #c47c04;
  color: #c47c04;
}
.book-table .btn,.contact-us .btn{
  box-shadow: none;
  border: 1px solid #c47c04;
  border-radius: 0;
  color: #c47c04;
  font-weight: 700;
  margin: 25px 0;
}
.book-table .btn:hover,.contact-us .btn:hover{
  background: #c47c04;
  color: #fff;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}
.azouma-special h1{
  text-align: center;
  font-family: 'Felixti';
  font-size: 120px;
  color: #990033;
  padding: 50px 0;
}
.special-bnr{
  background-image: url('../images/special-color.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 380px;
}
.special-bnr .box{
  position: absolute;
  top: 51%;
  left: 15%;
  background-image: url('../images/special-bnr.png');
  width: 960px;
  height: 540px;
  padding: 75px 35px;
  color: #fff;
  text-align: center;
}
.special-bnr .box p{
  font-size: 40px;
  font-family: 'futura light bt';
  font-weight: 900;
  padding: 80px 140px;
}
.special-part{
  background: #fbeec8;
  padding: 175px 0px;
}
.special-part .block{
  position: relative;
  padding: 30px 25px;
  text-align: center;
  border: 1px dotted #990033;
  border-radius: 5px;
  margin: 0px 15px;
}
.special-part .offer_img{
  position: absolute;
  background-image: url('../images/offers_title.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 5%;
  top: -3.9%;
}
.special-part .offer_img h5{
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  top: 2%;
  left: 24%;
}
.special-part .offer_img h5.grill_text{
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  top: 2%;
  left: 25%;
}
.special-part h1{
  color: #990033;
  font-size: 40px;
  font-family: 'Felixti';
  text-align: center;
}
.special-part h3{
  font-size: 26px;
  color: #990033;
}
.special-part h4{
  color: #990033;
  font-weight: 700;
  font-size: 16px;
}
.special-part h5{
  font-size: 16px;
  color: #c47c04;
  font-weight: 700;
}
.special-part h6{
  font-size: 14px;
  color: #5d5d5d;
  font-weight: 700;
}
.special-part hr{
  border: 0.5px dotted #990033;
  width: 175px;
}
.special-part p{
  color: #990033;
  font-size: 24px;
  font-family: 'futura light bt';
  text-align: center;
  padding-bottom: 75px;
}
.menu-bnr{
  background-image: url('../images/special-color.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 380px;
}
.menu-bnr .box{
  position: absolute;
  top: 51%;
  left: 15%;
  background-image: url('../images/menu-bnr1.png');
  background-repeat: no-repeat;
  width: 960px;
  height: 530px;
  padding: 75px 35px;
  color: #fff;
  text-align: center;
}
.menu-bnr .box p{
  font-size: 40px;
  font-family: 'futura light bt';
  font-weight: 900;
  padding: 80px 140px;
}
.menu-block{
  padding-top: 150px;
  padding-bottom: 25px;
}
.menu-block ul li a{
  position: relative;
  display: inline-block;
  margin: 0 10px 75px 10px;
  font-size: 16px;
  color: #8b4c0c;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 900;
}
.nav-tabs li a:after{
  transition: .5s;
  -web-kit-transition: .5s;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f1bb00;
  color: #8b4c0c;
  border-radius: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}
 ul.nav-tabs li a:hover{
   background-color: #f1bb00;
   color: #8b4c0c;
   border-radius: 30px;
   box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
   -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)!important;
}
.nav-tabs li a.active:after{
  opacity: .7;
}
.menu-block .block1{
  border: 1px dotted #990033;
  border-radius: 5px;
  font-family: 'futura light bt';
}
.menu-block .block1 .row{
  padding: 20px 35px;
}
.menu-block .block{
  position: relative;
  padding: 30px 25px;
  text-align: center;
  margin: 0px 15px;
}
.menu-block .offer_img{
  position: absolute;
  background-image: url('../images/menu-header.png');
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
  left: 36%;
  top: -45%;
}
.menu-block .offer_img h5.starters_text{
  position: absolute;
  color: #fff;
  font-family: 'Felixti';
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  top: 15%;
  left: 10%;
}
.menu-block .offer_img h5.courses_text{
  position: absolute;
  color: #fff;
  font-family: 'Felixti';
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  top: 15%;
  left: 5%;
}
.menu-block .block1 .courses-title{
  margin-left: 35px;
  padding: 10px 0;
  border-bottom: 1px dotted #990033;
}
.menu-block .block1 .courses-title p{
 font-size: 14px;
 color: #000;
}
.menu-block .block1 h4{
  color: #990033;
  font-size: 20px;
  font-weight: 900;
}
.menu-block .block1 h5{
   color: #8b4c0c;
   font-size: 18px;
   font-weight: 700;
}
.menu-block .block1 h6{
  font-size: 14px;
  font-weight: 700;
}
.menu-block .block1 p{
  color: #828282;
  font-size: 14px;
  font-weight: 700;
}
.contact-social .col-lg-3{
  padding: 15px;
}
.contact-social span{
  font-size: 18px;
  font-weight: 700;
}
.contact-social i{
  color: #c47c04;
  font-size: 20px;
}
.contact-social a i{
  color: #000!important;
}
/* section */

/* footer */
footer{
  line-height: 150px;
  background:#402904;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
footer i{
  font-size: 22px;
  padding: 0px 5px;
}
footer a{
  text-decoration: none;
  color: #fff;
}
footer a.terms{
  padding: 0px 20px 0px 70px;
}
footer a:hover{
  color: #fff;
}
/* footer */
